.magnifier-circle {

  width: 250%;
  height: 383px;
  background: white;
  border-radius: 5px;
  margin-left: 320px;
  margin-top: 230px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  transition: background-position 0.1s ease-out, transform 0.1s ease-out;
}

